/* // css round courners */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.hero-section {
  background-color: #1f2937;
  padding: 60px 120px;
}

.header-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header-links a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 18px;
  margin-left: 20px;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  max-width: 45%;
}

.main-info h3 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-paragraph {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 20px;
}

.button-signup {
  background-color: #3b82f6;
  color: #f9faf8;
  border: none;
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
}

.image-container {
  width: 50%;
  height: 300px;
  overflow: hidden;
}

.main-image {
  width: 100%;

  object-fit: cover;
  height: 100%;
  /* overflow: hidden; */
}

.second-section {
  background-color: #f9faf8;
  padding: 60px 120px;
  text-align: center;
}

.second-section h2 {
  font-size: 24px;
  color: #111827;
  margin-bottom: 40px;
  font-weight: bold;
}

.second-info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.second-info-box {
  background-color: #fff;
  border: 2px solid #3b82f6;
  border-radius: 8px;
  width: 20%;
  height: auto;
  text-align: center;
  margin-bottom: 20px;
}

.second-info-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #3b82f6;
}

.second-info-box span {
  display: block;
  font-size: 16px;
  color: #6b7280;
}

.third-section {
  padding: 60px 120px;
  background-color: #e5e7eb;
  text-align: center;
}

.quote-container {
  max-width: 800px;
  margin: 0 auto;
}

blockquote p {
  margin-bottom: 20px;
}

blockquote span {
  font-size: 20px;
  color: #6b7280;
}
